@font-face {
    font-family: HYWenHei;
    src: url('../public/font/HYWenHei-65W-3.ttf') format('truetype');
}

@font-face {
    font-family: HYWenHeiNumber;
    src: url('../public/font/1688643371341.woff') format('truetype');
}